Need an account?
<a href="/register">Register</a>
<div class="login-page">
	<div class="login-form">
            <label>Username</label>
            <input type="text" class="" ng-model="loginInfo.username" name="username">
      
       
            <label>Password</label>
            <input type="password" class="" ng-model="loginInfo.password" name="password">

        <div type="submit" class="button button-green" ng-click="login()">Login</div>
    </div>
    <div ng-include="'templates/user-message.html'">
</div>