@font-face {
    font-family: "clean";
    src: url(fonts/clean.woff);
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: clean !important;
}



.auth-container {
    position: relative;
    height: 400px;
    width: 600px;
    background-color: rgba(173, 191, 204, 0.9);
    margin: 0 auto;
    top: calc((100% - 420px)/2);
    border-radius: 5px;

    .auth-box{
        position: relative;
        color: black;
        height: auto;
        width: 300px;
        margin: 0 auto;
        top: 60px;

        .input{
            position: relative;
            width: 100%;
            color: black;
            margin-bottom: 10px;

        }
        .message{
            font-size: 18px;
            color: black;
        }
    }
}

.controls{
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0%;
    background-color: rgba(173, 191, 204, 0.9);
    left: 0%;
    z-index: 9999999999;

    .new-pin-menu{
      height: 300px;
      width: 200px;
      margin-left: 10px;
      background-color: rgba(173, 191, 204, 0.9);
      position: absolute;
      z-index: 9999999999;
      left: 300px;
      top: 0px;

    }
}

.leaflet-container{
    position: absolute;
    height: 100%;
    top: 0px;
    width: 100%;
    display: block;

    .pinning{
      cursor: pointer !important;
    }
}

.map-tools-container{
  height: 200px;
  position: relative;
  width: 100%px;
  border-bottom: 1px solid black;
}



.pin-item{
  position: relative;
  height: 50px;
  background-color: lightblue;
  width: 100%;
  border-bottom: 1px solid black;
}
