<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<title>Mapplication</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="css/index.css" rel="stylesheet" />
		<link href="css/leaflet.css" rel="stylesheet" />
		<link href="css/ng-trans.css" rel="stylesheet" />
		<script src="bundle.js"></script>
		<script src="js/mapbox.js"></script>
	</head>
	<body data-ng-app="mapplication">
		<!-- Controls & Map -->
		<div data-ng-controller="ControlsController">
			<section class="controls ng-trans ng-trans-slide-left" data-ng-show="showControls">
				<section class="map-tools-container">
					<ul class="controls">
						<li data-ng-click="actions.pinning = !actions.pinning;"><i class="fa fa-map-marker fa-3x"></i></li>
						<li data-ng-click="actions.searching = !actions.searching"><i class="fa fa-search fa-3x"></i></li>
					</ul>
				</section>
				<!-- Search Menu -->
				<section class="search-menu" data-ng-show="actions.searching">
					<form class="search-form" ng-keyup="searchFor(search)">
						<input class="input" ng-model="search">
					</form>
				</section>
				<p data-ng-show="actions.pinning">Pinning..</p>
				<!-- Create New Pin -->
				<section data-ng-show="actions.creating" class="new-pin-menu ng-trans ng-trans-slide-left">
					<h3>Create New Pin</h3>
					<form class="pure-form pure-form-stacked" data-ng-submit="createNewPin()">
						<fieldset>
							<input placeholder="Pin Name" class="input" type="text" name="name" ng-model="pinData.name" />
							<input placeholder="Pin Content" class="input" type="text" name="content" ng-model="pinData.content" />
							<button type="submit" class="pure-button pure-button-primary">Create</button>
						</fieldset>
					</form>
				</section>
				<pin-detail data-active-pin="activePin" data-show="actions.detail"></pin-detail>
				<!-- PIN ITEMS -->
				<section class="pin-container">
					<div
						class="pin-item ng-trans ng-trans-slide-left"
						data-ng-repeat="pin in allPins | orderBy: '-postedOn'"
						data-ng-class="{active: activePin._id === pin._id && actions.detail}"
						data-ng-click="showDetail(pin._id)"
						>
						<h3>{{pin.name}}</h3>
						<p class="content">
							{{pin.content}}
						</p>
						<span data-ng-click="deletePin(pin)" data-ng-show="pin.owner_id === user._id">&times;</span>
					</div>
				</section>
			</section>
			<!-- Map -->
			<section class="leaflet-container" data-ng-if="showMap">
				<mapbox></mapbox>
			</section>
		</div>
		<ng-include src="'templates/auth.html'"></ng-include>
	</body>
</html>