@import 'control';

html, body{
	height: 100%;
	padding: 0px;
	margin: 0px;

}

.login-page{
	.login-form{
		
		input[type="text"] {
			@extend .input;
		}
		input[type="password"] {
			@extend .input;
		}
		input[type="email"] {
			@extend .input;
		}
	}
}

.register-page{
	.register-form{

		
		input[type="text"] {
			@extend .input;
		}
		input[type="password"] {
			@extend .input;
		}
		input[type="email"] {
			@extend .input;
		}
	}
}


///// BEGIN HOME PAGE STYLES

.home-page{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: lightblue;	

	.profile-header{
		height: 125px;
		width: 100%;
		background-color: lightgrey;

		.profile-image{
			height: 125px;
			width: 125;
			border-radius: 50%;
		}
	}
}

